.timetable-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;

    animation: fade-in 0.15s ease-in-out;

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        .back {
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                color: var(--textHoverColor);
            }
        }

        .location {
            font-size: 20px;
            font-weight: bold;

            margin-left: 10px;
        }
    }

    .controls {
        display: flex;
        justify-content: center;

        @include mobile {
            flex-wrap: wrap;
        }

        @include desktop {
            .spreader {
                flex-grow: 1;
            }
        }

        .two-side-button {
            margin: 10px;
        }
    }

    .loading, .error {
        align-self: center;
        font-size: 20px;
    }

    .error {
        color: red;
    }

    .timetable {
        flex-grow: 1;
        margin: 10px 0;

        overflow-y: overlay;

        .timetable-cell {
            @include mobile {
                width: calc(100vw - 30px); //padding
            }
        }
    }

    .timetable-footer {
        display: flex;
        flex-direction: column;
        align-items: center;

        .reload {
            background-color: var(--contrastHoverColor);
            cursor: pointer;
            padding: 5px 10px;
            border-radius: 20px;
            outline: none;
            border: none;
            margin: 5px;
            font-size: 14px;

            &:hover {
                background-color: var(--contrastSelectedColor); // TODO change design and variable named
            }
        }

        .last-cached {
            font-size: 12px;
            color: var(--textHoverColor);
        }
    }
}