.timetable-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;

    animation: fade-in 0.15s ease-in-out;

    .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 10px;

        .back {
            cursor: pointer;
            font-size: 20px;
            font-weight: bold;

            &:hover {
                color: var(--textHoverColor);
            }
        }

        .location {
            font-size: 20px;
            font-weight: bold;

            margin-left: 10px;
        }
    }

    .controls {
        display: flex;
        justify-content: center;

        @include mobile {
            flex-wrap: wrap;
        }

        @include desktop {
            .spreader {
                flex-grow: 1;
            }
        }

        .two-side-button {
            margin: 10px;
        }
    }

    .timetable {
        flex-grow: 1;
        flex-shrink: 0;
        margin: 10px 0;
        .timetable-cell {
            @include mobile {
                width: calc(100vw - 30px);
            }
        }
    }
}