@import "src/styles/abstracts/variables";

.timetable {
    // don't forget about title and numeration
    display: grid;
    grid-template-columns: auto repeat(5, 1fr);
    grid-template-rows: max-content;
    background-color: var(--timetableBorderColor);
    grid-gap: 1px;
    //border: 1px solid var(--textColor);

    scroll-snap-type: x mandatory;
    overflow-x: auto;

    &.has-saturday {
        grid-template-columns: auto repeat(6, 1fr);
    }

    &.has-sunday {
        grid-template-columns: auto repeat(7, 1fr);
    }

    @include mobile {
        grid-template-columns: repeat(5, 1fr);

        &.has-saturday {
            grid-template-columns: repeat(6, 1fr);
        }

        &.has-sunday {
            grid-template-columns: repeat(7, 1fr);
        }
    }

    .timetable-cell {
        display: flex;
        //font-size: 2.5vh;

        scroll-snap-align: center;
        background-color: var(--timetableCellColor);

        &.date {
            min-height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            border-bottom: var(--timetableOtherBorderColor) 2px solid;
            margin-bottom: -1px;

            &:empty {
                visibility: hidden;
            }
            .animation-wrapper {
                width: auto;
                min-height: 20px;
            }
        }

        &.empty {
            min-height: 0;
        }

        &.empty, &.date {
            position: sticky;
            top: 0;
            color: var(--textColor);

            z-index: 1;
        }

        &.numeration {
            padding: 5px;
            color: var(--textColor);
            border-right: var(--timetableOtherBorderColor) 2px solid;
            margin-right: -1px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .hours {
                margin-left: 10px;
                font-size: 12px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: flex-end;
            }
        }

        @include mobile {
            &.empty, &.numeration {
                display: none;
            }
        }

        &:first-child {
            border-right: var(--timetableOtherBorderColor) 2px solid;
            margin-right: -1px;
            border-bottom: var(--timetableOtherBorderColor) 2px solid;
            margin-bottom: -1px;
        }

        .animation-wrapper {
            display: flex;
            width: 100%;
            min-height: 60px;
            &.fade-in {
                animation: fade-in 0.25s ease-in;
            }

            &.fade-out {
                animation: fade-out 0.25s ease-out;
            }
        }

        .lesson {
            width: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            //text-align: center;
            padding: 5px 5px 5px 10px;
            position: relative;

            color: var(--textColor);

            &.lecture, &.lection { // rename
                border-left: 10px solid var(--timetableLectureColor);
            }

            &.practical {
                border-left: 10px solid var(--timetablePracticalColor);
            }

            &.lab {
                border-left: 10px solid var(--timetableLabColor);
            }

            &.consultation {
                border-left: 10px solid var(--consultationColor);
            }

            .number {
                position: absolute;
                top: 2px;
                left: 2px;
                color: var(--textColor);
            }

            @include desktop {
                .number {
                    display: none;
                }
            }

            .url {
                
            }
        }
    }
}